/* navbar */
.navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.navbar-brand {
    font-size: 1.25rem;
    letter-spacing: -0.5px;
}

.nav-link {
    transition: color 0.2s ease-in-out;
}

[data-bs-theme="light"] #theme-icon.bi-moon-stars {
    color: #5856d6;
}

[data-bs-theme="dark"] #theme-icon.bi-sun {
    color: #ffc107;
}

#theme-switcher.nav-link {
    color: inherit !important;
}

/* form edicion de trabajador */
[data-bs-theme="dark"] .form-control[readonly] {
    background-color: #1a1d21;
    border-color: #373b3e;    
    color: #e3e6e8;           
    opacity: 1;               
    cursor: not-allowed;      
}

[data-bs-theme="dark"] .text-muted-rut {
    color: #adb5bd !important; /* Un gris medio para el label "RUT (No editable)" */
}
/* botones acciones */
@media (max-width: 576px) {
    .col-barcode {
        display: none;
    }

    .btn-edit-sm,
    .btn-del-sm {
        padding: 4px 7px;
        font-size: 0.75rem;
    }
}

/* fila calculo total dashboard trabajador */

[data-bs-theme="dark"] .custom-total-row {
    background-color: rgba(30, 41, 59, 0.7);
    color: #f8fafc;
    border-top: 2px solid #334155;
}

[data-bs-theme="dark"] #total_productos_calc {
    box-shadow: none;
    outline: none;
    text-align: right;
    padding-right: 0;
}

.text-info {
    color: #38bdf8 !important; /* Azul cielo moderno */
    text-shadow: 0 0 10px rgba(56, 189, 248, 0.2);
}